<a href="https://colab.research.google.com/github/LAMECH9/LAMECH9/blob/main/Time_Series_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from prophet import Prophet
from sklearn.metrics import mean_squared_error,mean_absolute_error
plt.style.use('fivethirtyeight') # for plots

In [ ]:
df = pd.read_csv('/content/rainfall in india 1901-2015.csv')
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8

In [ ]:
# Encoding Categorical Variables
print("\nEncoding categorical variables")
categorical_cols = df.select_dtypes(include=['object']).columns #selecting categorical columns
label_encoders = {}
for col in categorical_cols:
  le = LabelEncoder()
  df[col] = le.fit_transform(df[col]) # Apply Label Encoding
  label_encoders[col] = le

  print(df.head()) # Display transformed dataset

Encoding categorical variables

In [ ]:
# Convet 'Date' To a datetime and set as index
pd.to_datetime(df['Date'], format = '%Y-%m-%d')
df.set_index('Date', inplace = True)
df.head()

AttributeError: module 'pandas' has no attribute 'to_mpnthtime'

In [ ]:
 df['Month'] = df.index.month
df['Day'] = df.index.day
df.head()

AttributeError: 'RangeIndex' object has no attribute 'month'